<h1 >CRUD EXAMPLE</h1>
<br><br>
<table class="table">
  <thead>
    <tr>
  	  <th>NAME</th>
  	  <th>FUNCTION</th>
  	  <th colspan="3"></th>
    </tr>
  </thead>
  <% @events.each do |event| %>    
  <tr>
    <td><%= event.name %></td>
  	<td>
  	  <%= link_to "Show", event_path(event) %>
      <%= link_to 'Edit', edit_event_path(event) %>
      <%= link_to 'Delete', event_path(event), :method => :delete, :data => { :confirm => "Are you sure?" } %>  	
    </td>
  </tr>
  <% end %>
  <tr><%= button_to 'New Event',  new_event_path, :method => :get %></tr>
</table>

<%= paginate @events %>
